header {
	font-size:40px;
	font-family: 'Open Sans', sans-serif;
}
body {
	height: 1000px;
	background: linear-gradient(to bottom right, #00ffff, #2888BF);      /* W3C */
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;	
	
}


a:link {
    color: DarkSlateGray;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border:1px;
    border-color: black
}

/* visited link */
a:visited {
    color: DarkSlateGray;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border:1px;
    border-color: black
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: DarkGray;
    text-decoration: none;
}


.left {
    position:static;
    left:0; top:92px; bottom: 10;
    width: 124px;
}
.main {
    color: #000000;
    position:absolute;
    left:500px; top:200px; right:0; bottom:0;
}
.header {
    position:absolute;
    left:500px; top:20px;
    font-size: 50px;
}